@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Redressed&display=swap");

.nav-style {
  background-color: rgb(105, 151, 151);
  font-family: '"Merriweather", Serif';
  box-shadow: 1px 1px 3px rgb(27, 63, 63);
}
.nav-style .nav-link {
  border-bottom: 1px transparent;
  transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}
.nav-style .nav-link:hover {
  padding-bottom: 20px;
  border-bottom-color: rgb(12, 19, 19);
}
.banner {
  height: 400px;
}
.banner,
.banner-apropos,
.banner-add,
.banner-2 {
  background: linear-gradient(
    rgb(229, 248, 248),
    rgb(229, 248, 248),
    rgb(105, 151, 151)
  );
  background-size: cover;
}
.banner-apropos {
  height: 1000px;
}
.banner-add {
  height: 800px;
}
.banner-2 {
  height: 250px;
}
.banner-1 {
  background-color: rgb(105, 151, 151);
}

.banner-desc {
  font-family: "Redressed";
  text-align: center;
  font-size: 18px;
}

.items {
  background: rgb(105, 151, 151);
}
.btn-b {
  color: white;
  background-color: rgb(27, 63, 63);
  padding: 15px 50px;
  width: 40%;
  cursor: pointer;
  border: none;
}
.btn-b:hover,
.btn-f:hover {
  background-color: black;
  color: white;
}
.btn-f {
  background-color: rgb(27, 63, 63);
  color: white;
  text-align: center;
}

.cb1 {
  color: black;
  padding: 5px;
  background-color: rgb(105, 151, 151);
  border: 1px solid #000;
  padding-top: 5px;
}

.img {
  height: 200px;
}

.head-img {
  border-radius: 50% / 50%;
  height: 180px;
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  background:
    /* top, transparent black, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );

  /* bottom, image */
}
